@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    @apply font-sans
}
.proccess-item{
    stroke: green;
    stroke-dasharray: 130 9999;
}
circle{
    stroke-linecap: round;
}
.item-order{
    @apply w-10 h-10 flex items-center justify-center border-[1px] border-gray-400 rounded-full flex-shrink-0 cursor-pointer select-none
}
.list-order::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.list-order {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }